.Ativo{
    text-align: center;
     
 

}

.titulo{
  color: rgb(0, 0, 0);

}

label{ 
  display: block;
  margin-top: 10px;

}

button{
  display: block;
  margin: 0 auto;
  margin-top: 16px;

}




